{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Accueil</title>

    <link href="" rel="shortcut icon" type="image/x-icon" />
    
  </head>
  {% include 'partials/navbar.html' %}
  <body>
    {% block content %} {% endblock %}
  </body>
  {% include 'partials/footer.html' %}
  <!-- ========================= FOOTER END // ========================= -->
</html>
